@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Proxima Nova", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --offwhite: #DCF2F1;
  --lightblue:  #7FC7D9;
  --blue:   #365486;
  --darkblue:   #0F1035;
  --yellow: #FFD54F;
  --red: #FF6B6B;

  color-scheme: light dark;
  color: #333;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 1280px;
  margin: auto;
}

.blocks{
  margin: auto;
}

.footer{
  background-color: #0F1035;
  color: var(--white);
}

.button{
  text-align: center;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.view-button{
  background-color: var(--lightblue);
  color: var(--darkblue);
  margin-bottom: 5px;
}

.mody-button{
  background-color: var(--yellow);
  color: var(--darkblue);
  margin-bottom: 5px;
}

.delete-button{
  background-color: var(--red);
  color: var(--darkblue);
}

.navbar{
  position: fixed;
  top: 0;
  width: 84%;
}

.mainpage{
  margin-top: 4%;
}

.profile-gap{
  margin-bottom: 70vh;
}


@media screen and (max-width: 1299px){
  .navbar{
    width: 100%;
  }
}

@media screen and (max-width: 899px){
  .mainpage{
    margin-top: 8%;
  }
}


