@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Proxima Nova", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --white: #DCF2F1;
  --lightblue:  #7FC7D9;
  --blue:   #365486;
  --darkblue:   #0F1035;
  --yellow: #FFD54F;

  color-scheme: light dark;
  color: #333;
  background-color: #DCF2F1;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 1280px;
  margin: auto;
}

.blocks{
  margin: auto;
}

.footer{
  background-color: #0F1035;
  color: var(--white);
}

.view-button{
  background-color: var(--lightblue);
  color: var(--blue);
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar{
  position: fixed;
  top: 0;
  width: 84%;
}

.mainpage{
  margin-top: 4%;
}



