#heart-svg {
  cursor: pointer;
  overflow: visible;
  width: 60px;
  padding: 5px;
  margin-bottom: -25px;
}

#heart:hover{
  fill:var(--red);
}

svg #heart {
  transform-origin: center;
  animation: animateHeartOut .3s linear forwards;
}

svg #main-circ {
  transform-origin: 29.5px 29.5px;
}


